[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
praw = "*"
"ruamel.yaml" = "*"
gunicorn = "*"
SQLAlchemy = "*"
flask-sqlalchemy = "*"
Flask-Babel = "*"
flask-caching = "*"
faker = "*"
psycopg2-binary = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.9"
