<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="none"/>

    <title>Questionnaire for Reddit</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle-switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.autocomplete.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">


    {% block toolbar_actions %}
    {% endblock %}

    {% block header %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}"><span><img
                    src="{{ url_for('static', filename='images/icon.png') }}"
                    width="32" height="32"/>&nbsp;&nbsp;Questionnaire for Reddit</span></a>
        </div>
        <div class="navbar-header">
            <span class="navbar-brand">
            </span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if user %}
                            <span class="glyphicon glyphicon-user"></span>
                            &nbsp;{{- user.name -}}
                            <span class="caret"></span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        {% if user %}
                            <li><a href="https://www.reddit.com/message/inbox/" target="_blank">Inbox: {{ user.inbox_count }}</a></li>
                            <li><a href="https://www.reddit.com/user/me/submitted/" target="_blank">Link Karma: {{ user.link_karma }}</a></li>
                            <li><a href="https://www.reddit.com/user/me/comments/" target="_blank">Comment Karma: {{ user.comment_karma }}</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{% block body %}{% endblock %}
<footer class="section text-muted section-primary navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-muted" title="{{ sysinfo.build }}">
                &copy;2016 <a href="{{ url_for('about_page') }}">TerraSoft</a>.
            </div>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/jquery.js') }}" type="application/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}" type="application/javascript"></script>
{#    <script defer src="{{ url_for('static', filename='js/moment-with-locales.js') }}" type="application/javascript"></script>#}
<script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}" type="application/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.js') }}" type="application/javascript"></script>
<script src="{{ url_for('static', filename='js/select2.js') }}" type="application/javascript"></script>
{#<script src="{{ url_for('static', filename='js/select2_locale_el.js') }}" type="application/javascript"></script>#}
{#<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}" type="application/javascript"></script>#}
<script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}" type="application/javascript"></script>
<!--[if lt IE 9]>
<script src="{{ url_for('static', filename='js/html5shiv.js') }}" ></script>
<script src="{{ url_for('static', filename='js/respond.src.js') }}"></script>
<![endif]-->

<script type="application/javascript">
    function bindDropdown(selector, tablename, extrasCallback) {
        var url = '{{ url_for('dropdown', table_name='000') }}'.replace('000', tablename);
        $(selector).select2({
            ajax: {
                url: url, dataType: 'jsonp',
                data: function (term, page) {
                    var extraData = "";
                    if (extrasCallback) {
                        extraData = extrasCallback();
                    }
                    return {q: term, p: page, page_limit: 100, extra: extraData};
                },
                results: function (data, page) {
                    console.log(data);
                    return data;
                }
            },
            initSelection: function (element, callback) {
                var id = $(element).val();
                if (id !== "") {
                    $.ajax(url, {data: {i: id}, dataType: "jsonp"}).done(function (data) {
                        if (data.results.length > 0) {
                            callback(data.results[0]);
                        }
                    });
                }
            }
        });
    }
    function bindCheckboxSubitems(selector, elementList) {
        var element = $(selector)[0];
        $(selector).data('relatedElements', elementList)
        $(selector).on('switchChange.bootstrapSwitch', toggleSubitems);
        $(selector).trigger('switchChange.bootstrapSwitch');
    }
    function toggleSubitems(event, state) {
        var target = $(event.target)
        var elementList = target.data("relatedElements");
        for (var idx = 0; idx < elementList.length; idx++) {
            var one_element = elementList[idx];
            var enabled_subitems = target.prop('checked');
            $(one_element).prop('disabled', !enabled_subitems);
            $(one_element + '.select2-select').prop('disabled', !enabled_subitems);
        }
    }
</script>
<script type="application/javascript" language="javascript">
    {#    $.fn.datetimepicker.defaults.format = "dd/mm/yyyy";#}
    // $.fn.datetimepicker.defaults.locale("el");
    {#    $.fn.datetimepicker.defaults.autoclose = true;#}
    {#    $.fn.datetimepicker.defaults.todayBtn = "linked";#}
    {#    $.fn.datetimepicker.defaults.todayHighlight = true;#}

    $.fn.bootstrapSwitch.defaults.onText = 'Yes';
    $.fn.bootstrapSwitch.defaults.offText = 'No';

    $.notifyDefaults({
        align: 'Top center',

    })

    $('.tt').tooltip();
    $('.select2-select').select2();
    {#    $('.datepicker').datetimepicker({locale: 'el', format: "L"});#}
    {#    $('.datetimepicker').datetimepicker({sideBySide: true, locale: 'el', format: "D/M/YYYY HH:mm"});#}
    $(".checkbox-switch").bootstrapSwitch();
    $('#tabs').tab();

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                $.notify({message: '{{message|safe}}'}, {type: '{{category}}'});
            {% endfor %}
        {% endif %}
    {% endwith %}
</script>
{% block masterfooter %}{% endblock %}
{% block footer %}{% endblock %}


</body>
</html>
