{% extends "_main.html" %}
{% block body %}
    <div class="container">
        <h2>{{ _('About this application') }}</h2>

        <p>This application was made with &#x2665; by <a href="https://www.reddit.com/u/gschizas">/u/gschizas</a> (main
            coder) and <a href="https://www.reddit.com/u/robbit42">/u/robbit42</a> (styling)</p>

        <p>This only uses the reddit login to ensure that there are no double votes or other vote manipulation. The vote
            is not connected with the user that voted it and it's completely anonymous. And by that we mean that not
            even the developers can find out who answered what.</p>
    </div>
{% endblock %}