{% extends "_main.html" %}
{% from "_helpers.html" import awesome_button, awesome_glyph %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" method="post" action="{{ url_for('save') }}">
                    {% for question in questions %}
                        {% if question.kind != 'header' %}
                            {{ question.id }}. {{ question.title }}
                        {% endif %}
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">{{ ch_title }}</label>
                            </div>
                            {% if question.kind == 'header' %}
                                <div class="col-sm-10">
                                    {% if question.level == 1 %}
                                        <h3>{{ question.title }}</h3>
                                    {% elif question.level==2 %}
                                        <h4>{{ question.title }}</h4>
                                    {% endif %}
                                    <div>{{ question.text }}</div>
                                </div>
                            {% elif question.kind == 'radio' %}
                                <div class="col-sm-10">
                                    <div class="radio">
                                        {% for ch_key, ch_title in question.choices.items() %}
                                            <label class="radio">
                                                <input type="radio" name="q_{{ question.id }}"
                                                       value="{{ ch_key }}">{{ ch_title }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% elif question.kind == 'checkbox' %}
                                <div class="col-sm-10">
                                    <div class="radio">
                                        {% for ch_key, ch_title in question.choices.items() %}
                                            <label class="checkbox">
                                                <input type="checkbox" name="q_{{ question.id }}"
                                                       value="{{ ch_key }}">{{ ch_title }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% elif question.kind == 'tree' %}
                                <div class="col-sm-10">
                                    <div class="tree well" id="tree_{{ question.id }}">
                                        <ul>
                                            {%- for item in question.choices.items() recursive %}
                                                <li {{ 'style=display:none' if loop.depth > 1 }}>
                                                    {%- if item[1].choices -%}
                                                        <span>
                                                            <input type="radio" name="q_{{ question.id }}"
                                                                   value="{{ item[0] }}"/>&nbsp;
                                                            <label for="q_{{ question.id }}_{{ item[0] }}">
                                                                <i class="icon-folder-open"></i>{{ item[1].title }}
                                                            </label>
                                                        </span>
                                                        <ul>{{ loop(item[1].choices.items()) }}</ul>
                                                    {%- else -%}
                                                        <span>
                                                            <input type="radio" name="q_{{ question.id }}"
                                                                   id="q_{{ question.id }}_{{ item[0] }}"
                                                                   value="{{ item[0] }}"/>&nbsp;
                                                            <label for="q_{{ question.id }}_{{ item[0] }}">
                                                                <i class="icon-leaf"></i>{{ item[1].title }}
                                                            </label>
                                                            {%- if  item[1].is_text %}
                                                                <input type="text" name="q_{{ question.id }}_text" />
                                                            {%- endif %}
                                                        </span>
                                                    {%- endif %}
                                                </li>
                                            {%- endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% elif question.kind=='text' %}
                                <div class="col-sm-10">
                                    <div class="text">
                                        <label class="input">
                                            <input type="text" name="q_{{ question.id }}">
                                        </label>
                                    </div>
                                </div>
                            {% elif question.kind=='textarea' %}
                                <div class="col-sm-10">
                                    <div class="text">
                                        <label>
                                            <textarea name="q_{{ question.id }}" cols="80" rows="5"></textarea>
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script type="application/javascript">
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Expand this branch');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}
