{% extends "_main.html" %}
{% from "_helpers.html" import awesome_button, awesome_glyph %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    {% for question in questions %}
                        {% if question.kind != 'header' %}
                        {{ question.id }}. {{ question.title }}
                        {% endif %}
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">{{ ch_title }}</label>
                            </div>
                            {% if question.kind == 'header' %}
                                <div class="col-sm-10">
                                    {% if question.level == 1 %}
                                        <h3>{{ question.text }}</h3>
                                    {% elif question.level==2 %}
                                        <h4>{{ question.text }}</h4>
                                    {% endif %}
                                </div>
                            {% elif question.kind == 'radio' %}
                                <div class="col-sm-10">
                                    <div class="radio">
                                        {% for ch_key, ch_title in sorted(question.choices.items()) %}
                                            <label class="radio">
                                                <input type="radio" name="q{{ question.id }}"
                                                       value="{{ ch_key }}">{{ ch_title }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% elif question.kind == 'tree' %}
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <div id="tree_{{ question.id }}"></div>
                                        {#                                        <ul>#}
                                        {#                                            {%- for item in question.choices.items() recursive %}#}
                                        {#                                                {%- if item[1].choices -%}#}
                                        {#                                                    <div class="radio">#}
                                        {#                                                        <label><input type="radio" disabled="disabled" checked="">#}
                                        {#                                                            <li>{{ item[1].title }}#}
                                        {#                                                                <ul>{{ loop(item[1].choices.items()) }}</ul>#}
                                        {#                                                            </li>#}
                                        {#                                                        </label>#}
                                        {#                                                    </div>#}
                                        {#                                                {%- else -%}#}
                                        {#                                                    <div class="radio">#}
                                        {#                                                        <label><input type="radio" name="q{{ question.id }}"#}
                                        {#                                                                      value="{{ item.id }}">{{ item[1].title }}#}
                                        {#                                                        </label>#}
                                        {#                                                    </div>#}
                                        {#                                                {%- endif %}#}
                                        {#                                            {%- endfor %}#}
                                        {#                                        </ul>#}
                                    </div>
                                </div>
                            {% elif question.kind=='text' %}
                                <div class="col-sm-10">
                                    <div class="text">
                                        <label class="input">
                                            <input type="text" name="q{{ question.id }}">
                                        </label>
                                    </div>
                                </div>
                            {% elif question.kind=='textarea' %}
                                <div class="col-sm-10">
                                    <div class="text">
                                        <label>
                                            <textarea name="q{{ question.id }}" cols="80" rows="5"></textarea>
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script type="application/javascript">
        {% for tree_id, tree_data in trees.items() %}
            $("#tree_{{ tree_id }}").treeview({data: {{ tree_data | safe}}});
        {% endfor %}
    </script>
{% endblock %}
